pkgbase = lsp-plugins
	pkgdesc = Collection of open-source plugins
	pkgver = 1.2.35
	pkgrel = 1
	url = https://lsp-plug.in
	arch = x86_64
	license = LGPL-3.0-or-later
	checkdepends = jq
	checkdepends = lv2lint
	makedepends = cairo
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = gstreamer
	makedepends = gst-plugins-base
	makedepends = hicolor-icon-theme
	makedepends = libglvnd
	makedepends = libx11
	makedepends = libxrandr
	makedepends = jack
	makedepends = ladspa
	makedepends = libsndfile
	makedepends = libpipewire
	makedepends = lv2
	makedepends = php
	source = https://github.com/lsp-plugins/lsp-plugins//releases/download/1.2.35/lsp-plugins-src-1.2.35.tar.gz
	sha512sums = 9cdbe7492989b7fd3326d5abcf8df49de18c4d378f78f62c96b0ca0c29a91c972754c129e9d750a324a0980697699969614b322f51c4a7761b74bb3fb58f804f
	b2sums = 1dd5b67836d81c41068641b10c2ab2cd388c2b8116bf36d5026bf292cd2a59d4e21012a2ec3331df23e495461c819696c90525ffe9abd92340a67d56543cac1c

pkgname = lsp-plugins
	depends = lsp-plugins-clap
	depends = lsp-plugins-gst
	depends = lsp-plugins-ladspa
	depends = lsp-plugins-lv2
	depends = lsp-plugins-standalone
	depends = lsp-plugins-vst
	depends = lsp-plugins-vst3
	optdepends = lsp-plugins-docs: for documentation

pkgname = lsp-plugins-clap
	pkgdesc = Collection of open-source plugins - CLAP
	groups = clap-plugins
	depends = cairo
	depends = clap-host
	depends = fontconfig
	depends = freetype2
	depends = glibc
	depends = libglvnd
	depends = libGL.so
	depends = libsndfile
	depends = libsndfile.so
	depends = libstdc++
	depends = libx11
	depends = libxrandr

pkgname = lsp-plugins-docs
	pkgdesc = Collection of open-source plugins (documentation)

pkgname = lsp-plugins-gst
	pkgdesc = Collection of open-source plugins - GStreamer
	groups = gstreamer-plugins
	depends = glib2
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = glibc
	depends = gstreamer
	depends = gst-plugins-base-libs
	depends = libsndfile
	depends = libsndfile.so
	depends = libstdc++

pkgname = lsp-plugins-ladspa
	pkgdesc = Collection of open-source plugins - LADSPA
	groups = ladspa-plugins
	depends = glibc
	depends = ladspa-host
	depends = libsndfile
	depends = libsndfile.so
	depends = libstdc++

pkgname = lsp-plugins-lv2
	pkgdesc = Collection of open-source plugins - LV2
	groups = lv2-plugins
	depends = cairo
	depends = fontconfig
	depends = freetype2
	depends = glibc
	depends = libglvnd
	depends = libGL.so
	depends = libsndfile
	depends = libsndfile.so
	depends = libstdc++
	depends = libx11
	depends = libxrandr
	depends = lv2-host

pkgname = lsp-plugins-standalone
	pkgdesc = Collection of open-source plugins - JACK standalone
	groups = pro-audio
	depends = cairo
	depends = fontconfig
	depends = freetype2
	depends = glibc
	depends = hicolor-icon-theme
	depends = libglvnd
	depends = libGL.so
	depends = libsndfile
	depends = libsndfile.so
	depends = libstdc++
	depends = libx11
	depends = libxrandr
	optdepends = liblsp-audio-pipewire-lib: for PipeWire support
	optdepends = liblsp-audio-jack-lib: for JACK support

pkgname = lsp-plugins-vst
	pkgdesc = Collection of open-source plugins - VST2
	groups = vst-plugins
	depends = cairo
	depends = fontconfig
	depends = freetype2
	depends = glibc
	depends = libglvnd
	depends = libGL.so
	depends = libsndfile
	depends = libsndfile.so
	depends = libstdc++
	depends = libx11
	depends = libxrandr
	depends = vst-host

pkgname = lsp-plugins-vst3
	pkgdesc = Collection of open-source plugins - VST3
	groups = vst3-plugins
	depends = cairo
	depends = fontconfig
	depends = freetype2
	depends = glibc
	depends = libglvnd
	depends = libGL.so
	depends = libsndfile
	depends = libsndfile.so
	depends = libstdc++
	depends = libx11
	depends = libxrandr
	depends = vst3-host

pkgname = liblsp-audio-jack-lib
	pkgdesc = Audio backend for JACK
	depends = glibc
	depends = jack
	depends = libjack.so

pkgname = liblsp-audio-pipewire-lib
	pkgdesc = Audio backend for PipeWire
	depends = glibc
	depends = libpipewire
	depends = libpipewire-0.3.so

pkgname = liblsp-r3d-glx-lib
	pkgdesc = GLX-based 3D backend library for rendering scenes
	depends = glibc
	depends = libglvnd
	depends = libGL.so
	depends = libx11
